html, body {
  padding: 0;
  margin: 0;
  background-color: grey;
}
.wrapper {
  width: 700px;
  height: 200px;
  margin: 0 auto;
}
.img-hack {
  background-image: url('https://placehold.it/700x200');
  background-size: contain;
  background-repeat: no-repeat;
}
